<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd"
       >


    <bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="favorPathExtension" value="true"/>
        <property name="mediaTypes">
            <props>
                <prop key="json">application/json</prop>
                <prop key="jsonp">application/javascript</prop>
                <prop key="pdf">application/pdf</prop>
                <prop key="png">image/png</prop>
            </props>
        </property>
        <property name="ignoreAcceptHeader" value="true"/>
    </bean>
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="contentNegotiationManager" ref="contentNegotiationManager"/>
    </bean>

    <!-- 视图解析 -->
    <bean class="cn.com.xiaoyaoji.resolver.AppViewResolver">
        <property name="prefix" value="/WEB-INF/content"/>
        <property name="suffix" value=".jsp"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
    </bean>




    <!-- 多部分文件上传 -->

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="104857600"/>
        <property name="maxInMemorySize" value="4096"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>


    <bean class="cn.com.xiaoyaoji.resolver.ExceptionResolver" >
        <property name="order" value="1"/>
        <property name="defaultErrorView" value="/error"/>
        <property name="exceptionAttribute" value="exception"/>
        <property name="statusCodes">
            <props>
                <prop key="/error/503">503</prop>
            </props>
        </property>
        <property name="exceptionMappings">
            <props>
                <prop key="java.lang.Exception">/error/503</prop>
            </props>
        </property>
    </bean>


    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="cn.com.xiaoyaoji.interceptor.AuthorityInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="jsonConverter" class="cn.com.xiaoyaoji.converter.JsonMessageConverter">
        <property name="fastJsonConfig">
            <bean class="com.alibaba.fastjson.support.config.FastJsonConfig">
                <property name="serializerFeatures">
                    <array>
                        <value>WriteDateUseDateFormat</value>
                        <value>WriteMapNullValue</value>
                        <value>WriteNullStringAsEmpty</value>
                    </array>
                </property>
            </bean>
        </property>
    </bean>

    <!-- 注解扫描 -->
    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager">
        <mvc:message-converters>
            <ref bean="jsonConverter"/>
        </mvc:message-converters>
        <mvc:argument-resolvers>
            <bean class="cn.com.xiaoyaoji.resolver.UserArgumentsResolver"/>
        </mvc:argument-resolvers>
        <mvc:return-value-handlers>
            <bean class="cn.com.xiaoyaoji.handler.MultiModelAndViewReturnValueHandler">
                <property name="jsonMessageConverter" ref="jsonConverter"/>
            </bean>
        </mvc:return-value-handlers>
    </mvc:annotation-driven>
    <!-- controller扫描 -->
    <context:component-scan base-package="cn.com.xiaoyaoji.controller" />

    <mvc:resources mapping="/assets/**" location="/assets/"/>
    <mvc:resources mapping="/test/**" location="/test/"/>
    <mvc:resources mapping="/WEB-INF/**" location="/WEB-INF/"/>
</beans>
